@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData["OK"] != null)
{
    <h3>@TempData["OK"]</h3>
}

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>

        @{
    var products = Model.ToArray();
        }
        @for (var i = 0; i < products.Count(); i++)
        {
            if (ViewBag.SelectId != null && ViewBag.SelectId == products[i].ProductId)
            {
                ViewBag.ID = products[i];
            }
            <tr>

                @Html.HiddenFor(modelItem => products[i].ProductId)
                <td>
                    @Html.DisplayFor(modelItem => products[i].ProductName)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => products[i].Price)
                    <br />
                    @Html.ValidationMessageFor(modelItem => products[i].Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products[i].Active)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => products[i].Stock)
                    <br />
                    @Html.ValidationMessageFor(modelItem => products[i].Stock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = products[i].ProductId }) |
                    @Html.ActionLink("Details", "Index", new { Type = "Details", id = products[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = products[i].ProductId }) |
                    @Html.ActionLink("OrderLines", "Index", new {Type ="OrderLines" ,Id = products[i].ProductId })

                </td>
            </tr>
        }
    </table>
    <button class="btn btn-primary">批次更新</button>
}
@if(ViewBag.SelectId != null && ViewBag.type == "Details")
{
@Html.Partial("Details", ViewData["ID"])
}
else if (ViewBag.SelectId != null && ViewBag.type == "OrderLines")
{
    @Html.Action("Index", "OrderLines", new { ProductId = ViewBag.SelectId })
}

