@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@*@section breadcrumb {
    <li><a href="#">@ViewBag.Title</a></li>
}*@

@Html.ActionLink(" ","Index",null,new{@class= "btn btn-primary",data_name = "123"})
<a href="@Url.Action("Index")" class="btn btn-primary" data-name="123"></a>